* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}

.home {
  text-align: center;
}

.home_button {
  margin-top: 20px;
  padding: 20px;
}


.data_analyst_certi {
  margin-top: 70px;
  margin-left: 40px;
  text-align: center;
}

.excel {
  margin-bottom: 100px;
}

.sql {
  margin-bottom: 100px;
}

.pbi {
  margin-bottom: 100px;
}

.statistics {
  margin-bottom: 100px;
}

.python {
  margin-bottom: 100px;
}


h3 {
  color: white;
  font-weight: bold;
  border: 2px solid yellow;
  width: auto;
  margin-bottom: 10px;
  margin-right: 140px;
  margin-left: 100px;
}

img {
  width: 1000px;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

button {
  background-color: yellowgreen;
  padding: 15px;
  border: 2px solid #a0a0a0;
  border-radius: 5px;
  transition: color 0.2s ease, 0.2s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  color: blue;
  background-color: red;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}